{{ define "main" }}

<main aria-role="main"> 


  <div class="content"> 
    <div class="index-content framed">
      <h1 id="hello-there">Black History Marches On</h1>
      <p>Black History is in the making. Every day in March will feature a contemporary Black luminary or 
        organization advancing Black people in STEAM disciplines, as well as ways to contribute, so check back often!</p>
      <div align="center">
          <a class="read-more button" href="/timeline">March On → </a>
        </div>
    </div> 
  </div> 

</div>

</main>



{{ end }}
